<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}
</style>
<body>
    <div class="home d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="content d-flex flex-column text-center w-100 m-auto">
            <h1>Анализ датасета</h1>
            <br>
            <p>Максимальное значение: {{ context['xmax'] }}</p>
            <p>Минимальное значение: {{ context['xmax'] }}</p>
            <table align="center" width="500px" style='border: 1px solid black'>
                <tr>
                    <th>№</th>
                    <th width="30">Интервал</th>
                    <th width="30">Количество чисел</th>
                    <th width="30">Середина</th>
                    <th>Zi</th>
                    <th>Wi</th>
                    <th>Nнак</th>
                </tr>
                    {% for i in range(1, context['k']+1) %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ context['intervals'][i][0] }} - {{ context['intervals'][i][1] }}</td>
                            <td>{{ context['numbers_cnt_in_interval'][i] }}</td>
                            <td>{{ context['x_mid_in_each_interval'][i] }}</td>
                            <td>{{ context['zi'][i] }}</td>
                            <td>{{ context['relative_frequency_i'][i] }}</td>
                            <td>{{ context['numbers_cnt_in_interval_accumulated'][i] }}</td>
                        </tr>
                    {% endfor %}
            </table>
            <p>Выборочное среднее: {{ context['x_mid_chosen'] }}</p>
            <p>Выборочная дисперсия: {{ context['sample_variance'] }}</p>
            <p>Выборочное стандартное отклонение: {{ context['sample_mean'] }}</p>
            <p>Медиана: {{ context['median'] }}</p>
            <p>Коэффициент асимметрии: {{ context['asymmetry_factor'] }}</p>
            <p>Коэффициент эксцесса: {{ context['kurtosis_factor'] }}</p>
            <p>Коэффициент вариации: {{ context['variation_coefficient'] }}</p>
            <p>
                Доверительный интервал для генерального среднего: {{ context['confidence_interval_general_mean'][0] }}
                - {{ context['confidence_interval_general_mean'][1] }}
            </p>
            <p>
                Доверительный интервал для генеральной дисперсии: {{ context['confidence_interval_general_variance'][0] }}
                - {{ context['confidence_interval_general_variance'][1] }}
            </p>
            <p>Мода: {{ context['modal'] }}</p>
            <img src="static/plot.png" alt="static/404.png" class="center">

        </div>
    </div>
</div>
</body>
</html>